html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
      
}

  
  
  
body{
    background-color: hsl(265, 63%, 7%);
    width: 100vw;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1A0B2E;
}

::-webkit-scrollbar-thumb {
    background: #9d4edd;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b682f5;

}

header{
    background-color: #1A0B2E;
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    margin-top: 10px;
    align-items: center;
}
.logo{
    width: 100px;
}
.header-ul{
    display: flex;
    gap: 32px;
}
li{
    list-style: none;
}
.header-a{
    font-size: 18px;
    position: relative;
    color: #fff;
    text-decoration: none;
}
  
.header-a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -4px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
  
.header-a:hover::after {
    transform: scaleX(1);
}

.btn{
    background-color: #2b1449;
    border: #fff 1px solid;
    padding: 7px 17px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #9d4edd;
    transform: scale(1.05);
}


a{
    color: #fff;
    text-decoration: none;
}




main{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 90px;
    width: 70%;
}




/* me */

.me{
    width: 100%;
    margin-top: 100px;
    margin-right: 250px;
}
.me-container{
    display: flex;
    gap: 20px;
}
.purple{
    color: #9d4edd;
}
.me-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
p{
    color: rgb(255, 255, 255);
}
.greet{
    margin-bottom: 20px;
    margin-left: 100px;
}


.me-imgs {
    margin-right: 20px;
    position: relative;
  }
  
.me-img {
    position: relative;
    z-index: 3;
    width: 200px;
}
  
.shadow {
    position: absolute;
    top: 0;
    right: -1px;
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 80%;
    filter: blur(10px);
    opacity: 0.6;
    z-index: 2;
    box-shadow: #401d6d 1px 0px 25px 50px;
    margin-right: 10px;
    margin-top: 55px;
}
  

h1{
    font-size: 40px;
}

/*About  */



.about{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.about-h2{
    font-size: 50px;
}
.about-p{
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 24px;
}
.about-text{
    width: 700px;
}



/* experience */

.experience{
    margin-top: 100px;
    background: #130121;
    background: radial-gradient(circle, rgb(87, 36, 129) 0%, rgba(16, 7, 29, 1) 40%);
}
.experience-h2{
    font-size: 40px;
}
.experience-btn{
    color: white;
    width: 130px;
}
.experience-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    justify-content: center; 
}

.experience-card {
    width: 450px;
    border-top: 2px solid #9d4edd;
    border-radius: 25px;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: HSL(265, 63%, 7%);
    background: linear-gradient(52deg, rgba(16, 7, 29, 1) 0%, rgba(16, 7, 29, 1) 43%, rgb(109, 58, 176) 80%, rgba(16, 7, 29, 1) 100000%);
    z-index: 2;

    /* animatsiyalar uchun */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px #3e1560;
}

.experience-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.experience-card2{
    background: HSL(265, 63%, 7%);
    background: linear-gradient(52deg, rgba(16, 7, 29, 1) 0%, rgba(104, 65, 156, 1) 23%, rgba(16, 7, 29, 1) 100%);
}
.experience-card3{
    background: HSL(265, 63%, 7%);
background: linear-gradient(230deg, rgba(16, 7, 29, 1) 0%, rgba(104, 65, 156, 1) 84%, rgba(16, 7, 29, 1) 100%);
}
.experience-card4{
    background: HSL(265, 63%, 7%);
background: linear-gradient(230deg, rgba(16, 7, 29, 1) 0%, rgba(16, 7, 29, 1) 21%, rgba(104, 65, 156, 1) 59%, rgba(16, 7, 29, 1) 75%);
}





.projects{
    position: relative;
}
.project{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    gap: 30px;
    position: relative;
}
.project-image{
    width: 600px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    z-index: 10;
    left: 350px;
}
.project-heading{
    width: 100%;
    z-index: 2;
}
.project-content{
    display: flex;
    position: relative;

}
.featured{
    color: #724ba4;
    font-size: 18px;
}
.project-title{
    font-size: 40px;
    font-weight: bolder;
    color: rgba(218, 236, 252, 0.767);
}
.project-description{
    width: 600px;
    background: rgba(255, 255, 255, 0.3); /* ozgina shaffof oq */
    backdrop-filter: blur(10px); /* orqa fonni blur qilish */
    -webkit-backdrop-filter: blur(10px); /* Safari uchun ham */
    border-radius: 10px; /* burchaklarini yumalatish */
    padding: 20px;
    position: absolute;
    z-index: 100;
    top: 100px;
}
.project-description p{
    color: #292929;
}
.project-card{
    background-color: #2B0B3A;
    width: 600px;
    height: 335px;
    position: absolute;
    left: 500px;
    top: -50px;
    border-top-left-radius: 15px;
    z-index: 2;
}
.project-footer{
    position: absolute;
    top: 600px; 
}

.shadow1{
    position: absolute;
    z-index: 1;
    background: #763CAC;
    background: radial-gradient(circle, rgba(118, 60, 172, 1) 0%, rgba(16, 7, 29, 1) 60%);
    width: 80%;
    height: 700px;
    top: 50px;
    right: -50px;
}




.project2{
    margin-top: 250px;
}
.project2 .project-content{
    flex-direction: row-reverse;
}

.project2 .project-card{
    background-color: #2B0B3A;
    width: 600px;
    height: 335px;
    position: absolute;
    left: 30px;
    top: -30px;
    border-top-left-radius: 15px;
    z-index: 2;
}

.project2 .project-image{
    width: 600px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    z-index: 10;
    left: 150px;
}

.project2 .project-heading{
    margin-left: 600px;
}